
// Variables
@import "variables";

.navbar{
	margin-bottom:0px!important;
}

.no-margin{
	margin:0px!important;
}

.product-avatar{
	max-width: 100%!important;
}


.big-padding{
	padding:30px!important;
}

.no-padding{
	padding:0px!important;
}

.no-transform{
	text-transform: none!important;
}

.blue-grey{
	background-color:#37474f!important;
}

.White-text{
	color:white!important;
}

.red-text{
	color:rgb(200,50,50)!important;
}

.inline-block{
	display:inline-block!important;
}

.white{
	background-color:white!important;
}

.table{
	background-color:white!important;
}

.floating{
	position:fixed!important;
	bottom:2em!important
	right:2em!important;
	z-index:100!important;
}

.absolute{
	position: absolute;
}

.products-container{
	.product{
		margin-top: 1em;
	}
}



.product{
	width: 600px;
	max-width: 100%;
	padding: 1em;
	position: relative;

	h1{
		padding-bottom: 10px;
		border-bottom: solid 1px;
	}

	.actions{
		right: 1em;
		top: 10px;
	}
}













